@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-bkg;
    @apply text-content;
}

@layer base {
    :root {
        --color-bkg: 253 253 253;
        --color-content: 0 0 0;
        --color-bkg2: 245 245 245;
        --color-content2: 229 229 229;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-bkg: 18 18 18;
            --color-content: 192 192 192;
            --color-bkg2: 25 25 25;
            --color-content2: 80 80 80;
        }
    }

    :root[data-theme='dark'] {
        --color-bkg: 18 18 18;
        --color-content: 192 192 192;
        --color-bkg2: 25 25 25;
        --color-content2: 80 80 80;
    }

    :root[data-theme='light'] {
        --color-bkg: 253 253 253;
        --color-content: 0 0 0;
        --color-bkg2: 245 245 245;
        --color-content2: 229 229 229;
    }    
}